/*--------CSS Rules for Devices under 600px phones etc--------*/ 

 @media all and (max-width: 670px) {

    body{
        min-width: 305px;
        margin-left: 3%;
        margin-right: 3%;
        background-image: url("images/leaves-vert-mobile.jpg");
        background-size: cover;
    }

    /*Rules for Header Flexbox*/
    .app-header-outer{
        display: flex;
        font-family: 'Ubuntu', sans-serif;
        background-color: whitesmoke;
        opacity: .8;
        flex-direction: row;
        justify-content: space-around;
        border: 4px solid #8bed7e
    }

    /*Rules for Header Inner*/
    .app-header-inner{
        background-color: whitesmoke;
        font-size: 16px;
        opacity: .8;
    }

    .center2 {
        max-width: 750px;
        margin: auto;
        width: 100%;
        padding: 2px;
      }
    /*Section ID for Trail Input Section*/
    #trail-search{
        background-color: #8bed7e;
        margin-left: 5%;
        margin-right: 5%;
        opacity: .85;
        border: 2px solid black
    }

    /*CSS Rule for Standard Divs*/
    .div-standard{
        border: 2px, solid, #8bed7e;

    }


    /*CSS Rules for Appended Result Elements*/
    .results-hiking-element{
        background-color: #8bed7e;
        opacity: .88;
        margin-left: 3%;
        margin-right: 3%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 500;
    }

    /*Entire Section holding Appended Results*/
    .results-section{
        background-color: #8bed7e;
        border: 2px, solid, black;
        opacity: .88;
        line-height: 17px;
    }

    /*Entire Section containing widget*/
    .widget{
        background-color: #8bed7e;
        opacity: .90;
    }

    /*div holding widget map*/
    #widget-map{
        padding: 1px;
        margin-left: 1px;
        margin-right: 1px;
    }

    img{
        max-width: 285px;
    }

    /*Header Rules*/
    h1, h2, h3{
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        padding: 5px;
    }

    h1{
        font-size: 36px;
    }

    h2{
        font-size: 23px;
        line-height: 24px;
    }

    h3{
        font-size: 19px;
        line-height: 24px;
    }

    p{
        font-family: Arial, sans-serif;
        font-size: 13.2px;
        text-align: center;
    }

    button,input#submit-button{
    font-size: 15px;
    }

    form{
        display: block;
        text-align: center;
        margin-left: 7%;
        margin-right: 7%;
        line-height: 30px;
        margin-bottom: 5%;
    }

    label{
        font-family: 'Open Sans', sans-serif;
    }


    /* psuedo classes style rules for hyperlinks*/
    a:link    { color: black;  }
    a:visited { color:   black;   }
    a:hover   { color:  lightsalmon; }
    a:active  { color:  black; }

    .hidden{
        display: none;
    }

}


/*-------------------CSS Rules for Devices over 670px------------------------*/ 
  
@media all and (min-width: 670px) {
  
    body{
        margin-left: 5%;
        margin-right: 5%;
        background-image: url("images/leaves-vert-desktop.jpeg");
        background-size: cover;
    }

    /*Rules for Header Flexbox*/
    .app-header-outer{
        display: flex;
        font-family: 'Ubuntu', sans-serif;
        background-color: whitesmoke;
        opacity: .8;
        flex-direction: row;
        justify-content: space-around;
        border: 2px solid black
    }

    /*Rules for Header Inner*/
    .app-header-inner{
        background-color: whitesmoke;
        font-size: 16px;
        opacity: .8;
    }

    .center {
        max-width: 700px;
        margin: auto;
        width: 70%;
        padding: 2px;
      }

    /*Section ID for Trail Input Section*/
    #trail-search{
        background-color: #8bed7e;
        opacity: .85;
        border: 2px solid black
    }

    /*CSS Rule for Standard Divs*/
    .div-standard{
        border: 2px, solid, #8bed7e;

    }

    /*CSS Rules for Appended Results*/
    .results-hiking-element{
        background-color: #8bed7e;
        opacity: .88;
        margin-left: 4%;
        margin-right: 4%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 500;
    }

    /*Section Element holding Appended Results*/
    .results-section{
        background-color: #8bed7e;
        border: 2px, solid, black;
        opacity: .90;
        line-height: 17px;
    }

    /*Entire Section containing widget*/
    .widget{
        max-width: 1300px;
        background-color: #8bed7e;
        opacity: .90;
    }

    /*div holding widget map*/
    #widget-map{
        padding: 10px;
        margin-left: 2%;
        margin-right: 2%;
    }

    img{
        max-width: 320px;
    }

    /*Header Rules*/
    h1, h2, h3{
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        padding: 5px;
    }

    h1{
        font-size: 36px;
    }

    h2{
        font-size: 28px;
        line-height: 24px;
    }

    h3{
        font-size: 24px;
        line-height: 24px;
    }

    p{
        font-family: Arial, sans-serif;
        font-size: 13.2px;
        text-align: center;
    }

    form{
        display: block;
        text-align: center;
        margin-left: 7%;
        margin-right: 7%;
        line-height: 30px;
        margin-bottom: 5%;
    }

    label{
        font-family: 'Open Sans', sans-serif;
    }


    /* psuedo classes style rules for hyperlinks*/
    a:link    { color: black;  }
    a:visited { color:   black;   }
    a:hover   { color:  lightsalmon; }
    a:active  { color:  black; }

    .hidden{
        display: none;
    }

}






