body{
    min-width: 360px;
    margin-left: 8%;
    margin-right: 8%;
    background-image: url("images/leaves-vert.jpeg");
}

/*Rules for Header Flexbox*/
.app-header-outer{
    display: flex;
    font-family: 'Architects Daughter', cursive;    
    background-color: #8bed7e;    
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid darkgray
}



/*Section ID for Trail Input Section*/
#trail-search{
    background-color: #8bed7e;
    opacity: .85;
    border: 1px solid black
}

/*CSS Rule for Standard Divs*/
.div-standard{
    border: 2px, solid, #8bed7e;

}

/*CSS Rules for Appended Results*/
.results-hiking-element{
    background-color: #8bed7e;
    opacity: .88;
    margin-left: 4%;
    margin-right: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.results-section{
    background-color: #8bed7e;
    border: 2px, solid, black;
    opacity: .88;
    line-height: 17px;
}

#widget{
    background-color: #8bed7e;
        opacity: .8;
}

img{
    max-width: 320px;
}

/*Header Rules*/
h1, h2, h3{
    text-align: center;
    padding-top: 6px;
    font-family: 'Ubuntu', sans-serif;}

h1{
    font-size: 32px;
}

p{
    text-align: center;
    font-weight: bold;
}

form{
    display: block;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    line-height: 30px;
    margin-bottom: 5%;
}

label{
    font-family: 'Open Sans', sans-serif;
}


/* psuedo classes style rules for hyperlinks*/
a:link    { color: black;  }
a:visited { color:   black;   }
a:hover   { color:  purple; }
a:active  { color:  black; }

.hidden{
    display: none;
}